@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/public/fonts/Inter-Light.ttf");
}

body {
  @apply font-inter leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}